body {
    font-family: 'Comic Sans MS';
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

img.banner {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

img.banner-game {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    max-height: 150px;
    height: 100%;
}

button.button.menu {
    font-size: 2em;
    text-shadow: 3px 3px #000;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    background-color: rgba(185, 184, 184, 0.808);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.80);
    color: rgb(255, 255, 0);
    transition-duration: 0.4s;
}

.button {
    font-size: 1.4em;
    text-shadow: 1px 1px #000;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 150px;
    width: 100%;
    max-height: 35px;
    height: 100%;
    background-color: rgba(185, 184, 184, 0.808);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.80);
    color: rgb(255, 255, 0);
    transition-duration: 0.4s;
}

.card img {
    width: 100%;
    height: 100%;
}

#tableGame {
    margin: 0 auto;
}

    #tableGame tr td {
        width: 140px;
    }

.chronometer {
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    max-width: 560px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
}

button > a {
    text-decoration: none;
    color: rgb(255, 255, 0);
}

    button > a:hover {
        text-decoration: none;
        color: rgb(255, 255, 0);
    }

footer {
    color: white;
}

#ranking {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: white;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.70);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.80);
    border-radius: 20px;
}

    #ranking td {
        width: 200px;
    }

    #ranking th {
        text-align: center;
    }


/*** Flip Effect ***/
.flip {
    -webkit-perspective: 800px;
    perspective: 800px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

    .flip .card.flipped {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .flip .card {
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: 0.5s;
        transform-style: preserve-3d;
        transition: 0.5s;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.70);
    }

        .flip .card .face {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }

        .flip .card .front {
            padding: 10px;
            position: absolute;
            z-index: 1;
        }

        .flip .card .img {
            position: relative;
            z-index: 1;
            border: 2px solid #000;
        }

        .flip .card .back {
            padding: 10px;
            width: 100%;
            height: 100%;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }
/*** End Flip Effect ***/


/*** POP-UP ***/


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

button.pop{
    float: left;
    width: 100%;
    display: inline block;
    clear: both;
}
    button.button:hover {
        background: rgba(0, 0, 0, 0.80);
    }


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .content {
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

/****  END POP-UP  ***/
