@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Ranking";
}

<div class="container">
    <header>
        <img class="banner-game" src="../img/banner.png" alt="">
    </header>
    <main>
        <button class="button voltar">@Html.ActionLink("Voltar", "Index")</button>
        <table id="ranking" class="table-responsive table">
            <tr>
                <td></td>
                <td><img src="../img/loading.gif" /></td>
                <td></td>
            </tr>
        </table>
    </main>
</div>