@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Ranking";
}

<div class="container">
    <header>
        <img class="banner-game" src="../img/banner.png" alt="">
    </header>
    <main>
        <button class="button voltar">@Html.ActionLink("Voltar", "Index")</button>
        <form>

        </form>
    </main>
</div>