
@{
    ViewBag.Title = "Game";
}

<div class="container">
    <header>
        <img class="banner-game" src="../img/banner.png" alt="">
        <nav>
            <button class="button begin">Começar!</button>
        </nav>
    </header>
    <main>
        <div class="chronometer">00:00:00</div>
        <table id="tableGame"></table>
        <button class="button voltar">@Html.ActionLink("Voltar", "Index")</button>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Fim de Jogo!</h2>
                <div class="content">

                </div>                
            </div>
        </div>
    </main>
</div>

