@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <header>
        <img class="banner" src="Img/banner.png" alt="">
        <nav>
            <button class="botao menu">@Html.ActionLink("Novo Jogo", "Game", "Home")</button>
            <button class="botao menu">Placar</button>
            <button class="botao menu">Sair</button>
        </nav>
    </header>
    <main>
    </main>
</div>