@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <header>
        <figure>
            <img class="banner" src="../img/banner.png" alt="">
        </figure>
        <nav>
            <button class="button menu">@Html.ActionLink("Novo Jogo", "Game")</button>
            <button class="button menu">@Html.ActionLink("Ranking", "Ranking")</button>
            <button class="button menu" onclick="location.href='https://github.com/diegofer25/jogodamemoria.net';">GitHub</button>
        </nav>
    </header>
    <main>
    </main>
</div>